<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Data.Database.Properties.Settings.tp2_netConnectionString"
            connectionString="Data Source=LAPTOP-SQQRFPKK\SQLEXPRESS;Initial Catalog=tp2_net;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>